<div class="row">
  <div class="col-md-1">
    <label class="label label-default">Ticks</label>
  </div>
  <div class="col-md-2">
    <input type="number" style="width:60px" max="1000" [(ngModel)]="from" />
  </div>
</div>
<div class="row">
  <div class="col-md-1">
    <label class="label label-default">Mode</label>
  </div>
  <div class="col-md-2">
    <select [(ngModel)]="mode">
      <option value="U">Count Up</option>
      <option value="D">Count Down</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="btn-group">
      <button class="btn btn-success btn-sm" (click)="start()" [disabled]="started">Start</button>
      <button class="btn btn-danger btn-sm" (click)="stop()" [disabled]="!started">Stop</button>
      <button class="btn btn-primary btn-sm" (click)="reset()">Reset</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-1">
    <h1>{{minutes}}:{{seconds}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-1">
    <p style="color:blue" *ngIf="done">Done!</p>
  </div>
</div>