<div class="row">
  <div class="form-group col-md-6">
    <label class="label label-default">Ticks</label>
      <input class="form-control" type="number" max="1000" [(ngModel)]="from" />
  </div>
</div>
<div class="row">
  <div class="form-group col-md-6">
    <label class="label label-default">Count</label>
    <select class="form-control" [(ngModel)]="mode">
      <option value="U">Up</option>
      <option value="D">Down</option>
    </select>
</div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="btn-group btn-group-lg">
      <button class="btn btn-success btn-sm" (click)="start()" [disabled]="started">Start</button>
      <button class="btn btn-danger btn-sm" (click)="stop()" [disabled]="!started">Stop</button>
      <button class="btn btn-primary btn-sm" (click)="reset()">Reset</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-1">
    <h1 align="center">{{minutes}}:{{seconds}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-1">
    <p style="color:blue" *ngIf="done">Done!</p>
  </div>
</div>